<div id="<%= dom_id(article) %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('articles.title') %>:</strong>
    <%= article.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('articles.content') %>:</strong>
    <%= article.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('articles.is_published') %>:</strong>
    <%= article.published %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('articles.vote_count') %>:</strong>
    <%= article.vote_count %>
    
    <%= button_to t('articles.add_vote'), add_vote_article_path(article), method: :post, class: "rounded-lg py-3 px-5 bg-green-600 text-white block mr-5" %>
    <% unless article.vote_count.zero? %>
      <%= button_to t('articles.remove_vote'), remove_vote_article_path(article), method: :post, class: "rounded-lg py-3 px-5 bg-red-600 text-white block" %>
    <% end %>  
    
  </p>
</div>
